@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1>Edit: @Html.DisplayFor(model => model.MachineName)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.MachineName)
  @Html.EditorFor(model => model.MachineName)
  <br>
  <input type="submit" value="Save"/>
}
<br>
<p>@Html.ActionLink("Machines", "Index")</p> 
<p>@Html.ActionLink("Home", "Index", "Home")</p>
